body{
    background: url("../recursos/fondo.jpg");
}
form{
    text-align: center;
}
#btn_submit{
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
h1{
    text-align: center;
}
#actual{
    color: black;
    font-size: xxx-large;
    text-align: left;
    position: absolute;
    left: 21%;
}
.temp{
    margin-left: 10%;
}
#gradosC{
    color: black;
    font-size: xxx-large;
    margin-left: 40%;
}
.card_weather
{
    background-image: url("../recursos/text_in.jpg");
}
.h3
{
    color: white;
}
.datos
{
    text-align: center;
}
#informacion
{
    margin-right: 50%;
    margin-top: 26%;
    font-size: large;

}